html{
    background: url("background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

body
{
  font-family: 'Mountains of Christmas', cursive;
  color: white;
}

.container{
    max-width: 600px;
    margin: auto;
    position: relative;
}

.text{
    text-align: center;
    font-size: 2em;
    
}

.textName{
    text-align: center;
    font-size: 1.5em;
    margin-top: 50px;
}

.fName{
    text-align: center;
}
.pin{
    text-align: center;
}
.wichtel{
    background: url("wichtel.png") no-repeat;
    background-size: 100%;
    height: 200px;
    width: 200px;
    right: 0px;
    top: 41px;
    position: absolute;
}

#geschenk{
    background: url("geschenk.png") no-repeat;
    background-size: 100%;
    height: 200px;
    width: 200px;
    right: 200px;
    top: 350px;
    position: absolute;
    cursor: pointer;
}

.hide{
    display: none;
}


.C8ACB0F6-5A3E-464D-A627-EA5B4E73F7CC{
    background: url("nicole.png");
}

.FF129359-E1DC-4896-A29E-4EC18D459940{
    background: url("anni.png");
}

.A9B64B96-C5B0-4D05-A963-745BB9923B69{
    background: url("pepe.png");
}

.A56DD53C-8A0B-4E5B-8A79-9018D7128CB9{
    background: url("julian.png");
}

.BA6BE6E7-DA09-4419-99F8-0EF345A9B0F0{
    background: url("markus.png");
}

.C496A187-2C07-4493-BF4A-DD30341C2069{
    background: url("christina.png");
}

.picNames{
    background-size: 100%;
    height: 200px;
    width: 200px;
    right: 200px;
    top: 220px;
    position: absolute;
}

@media screen and (max-width: 550px) {
    .wichtel {
        background-size: 50%;
        right: initial;
        top: 0;
    }

    #geschenk{
        background-size: 50%;
        right: 110px;
    }

    .picNames{
        right: 110px;

    }
}
